{% extends 'base.html' %}
{% load static %}
{% block title %}
Login
{% endblock%}

{% block content %}

<div class="container px-5 my-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-4 ">
            <h2>Sign in</h2>
            <br/>
            <form id="login-form" method="post">
            {% csrf_token %}

            <div class="form-floating">
              <input type="text" class="form-control" id="id_username" name="username" placeholder="Username">
              <label for="username">User Name</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="id_password" name="password" placeholder="Password">
              <label for="password">Password</label>
            </div>

            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="w-100 btn btn-secondary" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}