{% extends 'base.html' %}
{% load static %}
{% block title %}
Register
{% endblock%}

{% block content %}
<div class="container px-5 my-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-8 ">
            <h2>Register</h2>
            <br/><br/>
            <div class="form-group">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}