{% extends 'base.html' %}
{% load static %}
{% block title %}
Add Category
{% endblock%}

{% block content %}
<div class="container px-5 my-5">
    <div class="row gx-5">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10">
                {% if user.is_authenticated %}
                    <h2>Add Category</h2>
                    <br/><br/>
                    <div class="form-group">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-secondary">Add Category</button>
                        </form>
                    </div>
                {% else %}
                Please login or register...
                {% endif %}
            </div>
    </div>
</div>


{% endblock %}