{% extends 'base.html' %}
{% load static %}
{% block title %}
Category List
{% endblock%}

{% block content %}
<div class="container px-5 my-5">
    <div class="row gx-5">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10">
                <h1>Category List</h1>
                <ul>
                    {% for item in category_list %}
                    <h4></h4><a class="dropdown-item" href="{% url 'category' item %}">{{item}}</a></h4>
                    {% endfor %}
                </ul>
            </div>
    </div>
</div>


{% endblock %}